body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 40%;
    min-height: 40%;
    width: 100%;
    height: auto;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    padding: 20px;
}

.start-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    text-decoration: none; /* Remove default underline */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth color transition */
}

.start-button:hover {
    background-color: #0056b3; /* Darker background color on hover */
}
